@import url(./cssReset.scss);

@media (max-width: 500px) {
    .menu {

        .menuButton {
            visibility: visible;
            width: 10%;
            height: 60px;

            .singleBelt {                
                width: 35px;
                height: 5px;
                background-color: black;
                margin: 6px 0;
            }
        }
    }

    .navButtons {
        background-color: #B2DFDB;
        //visibility: hidden;

        .homeNavButton {
            width: 25%;
            height: 60px;
        }
        
        .aboutMeNavButton {
            width: 25%;
            height: 60px;
        }
        
        .skillsNavButton {
            width: 25%;
            height: 60px;
        }
        
        .contactNavButton {
            width: 25%;
            height: 60px;
        }
    }
}

@media (min-width: 501px) {
    .menu {
        .menuButton {
            visibility: hidden;
        }
    }

    .navButtons {
        background-color: red;

        .homeNavButton {
            width: 32px;
            height: 32px;
        }
        
        .aboutMeNavButton {
            width: 32px;
            height: 32px;
        }
        
        .skillsNavButton {
            width: 32px;
            height: 32px;
        }
        
        .contactNavButton {
            width: 32px;
            height: 32px;
        }
    }
}

.menu {

    .minLogo{
        float: left;;
    }

    .menuButton {
        float: right;
    }
}

.navButtons {
   // background-color: #B2DFDB;
    display: flex;
    
    .homeNavButton {
        background-image: url(../img/home.png);
        background-repeat:  no-repeat;
        background-position: center;
        // width: 32px;
        // height: 32px;
    }
    
    .aboutMeNavButton {
        background-image: url(../img/aboutMe.png);
        background-repeat:  no-repeat;
        background-position: center;
        // width: 32px;
        // height: 32px;
    }
    
    .skillsNavButton {
        background-image: url(../img/skills.png);
        background-repeat:  no-repeat;
        background-position: center;
        // width: 32px;
        // height: 32px;
    }
    
    .contactNavButton {
        background-image: url(../img/contact.png);
        background-repeat:  no-repeat;
        background-position: center;
        // width: 32px;
        // height: 32px;
    }
}
