@import url(./cssReset.scss);
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    font-family: 'Press Start 2P', cursive;
}

.interLine {
    display: inline-block;
    margin-bottom: 0.3em;
}

.navButtons {
    // background-color: #B2DFDB;
     display: flex;
     
     .homeNavButton {
         background-image: url(../img/home.png);
         background-repeat:  no-repeat;
         background-position: center;
     }
     
     .aboutMeNavButton {
         background-image: url(../img/aboutMe.png);
         background-repeat:  no-repeat;
         background-position: center;
     }
     
     .skillsNavButton {
         background-image: url(../img/skills.png);
         background-repeat:  no-repeat;
         background-position: center;
     }
     
     .contactNavButton {
         background-image: url(../img/contact.png);
         background-repeat:  no-repeat;
         background-position: center;
     }
 }

@media (max-width: 500px) {
    .menu {
        background-color: #B2DFDB;
        width: 100%;
        height: 60px;

        .menuButton {
            width: 10%;
            height: 33px;
            margin-top: 10px;

            .singleBelt {                
                width: 35px;
                height: 5px;
                background-color: black;
                margin: 6px 0;
            }
        }
    }

    .navButtons {
        background-color: #B2DFDB;
        opacity: 1;
        left: 0;
        position: fixed;
        top: 60px;
        width: 100%;
        height: 60px;
        visibility: hidden;

        .homeNavButton {
            width: 25%;
            height: 60px;
        }
        
        .aboutMeNavButton {
            width: 25%;
            height: 60px;
        }
        
        .skillsNavButton {
            width: 25%;
            height: 60px;
        }
        
        .contactNavButton {
            width: 25%;
            height: 60px;
        }
    }

    .homePage {
        margin: 100px 0 0 50px;
        font-size: 2em;

        .contactButton {
            border: solid 0.1em black;
            color: red;
        }
    }
}

@media (min-width: 501px) {
    .menu {
        .menuButton {
            visibility: hidden;
        }
    }

    .navButtons {
        background-color: red;

        .homeNavButton {
            width: 32px;
            height: 32px;
        }
        
        .aboutMeNavButton {
            width: 32px;
            height: 32px;
        }
        
        .skillsNavButton {
            width: 32px;
            height: 32px;
        }
        
        .contactNavButton {
            width: 32px;
            height: 32px;
        }
    }
}

.menu {

    .minLogo{
        visibility: hidden;
        float: left;;
    }

    .menuButton {
        float: right;
    }
}


